@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600");

:root {
    --black-3: 
  rgba(0, 0, 0, 0.298);
    --black-2: 
  rgba(0, 0, 0, 0.502);
    --black: 
  rgba(0, 0, 0, 1);
    --blue-whale: 
  rgba(6, 38, 78, 1);
    --eerie-black: 
  rgba(23, 23, 23, 1);
    --green-blue: 
  rgba(23, 104, 172, 1);
    --lima: 
  rgba(96, 197, 29, 1);
    --dove-gray-2: 
  rgba(104, 107, 111, 0.102);
    --dove-gray: 
  rgba(104, 107, 111, 1);
    --sonic-silver: 
  rgba(119, 119, 119, 1);
    --gray: 
  rgba(126, 126, 126, 1);
    --mist-gray: 
  rgba(196, 196, 196, 1);
    --botticelli: 
  rgba(204, 226, 238, 1);
    --ebb: 
  rgba(227, 227, 227, 1);
    --gallery: 
  rgba(239, 239, 239, 1);
    --alice-blue: 
  rgba(239, 247, 252, 1);
    --feta: 
  rgba(241, 254, 232, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xs: 13px;
    --font-size-s2: 14px;
    --font-size-m2: 16px;
    --font-size-l2: 20px;
    --font-size-xl3: 18px;
    --font-size-xl2: 24px;
    --font-size-xxl2: 30px;
  
    --font-family-poppins: "Poppins";
  }
  
  
  
  .poppins-semi-bold-black-20px-2 {
    color: var(--black-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l2);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-black-14px3 {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-black-24px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-sonic-silver-20px {
    color: var(--sonic-silver);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l2);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-medium-white-16px {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-black-16px2 {
    color: var(--black-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-black-14px2 {
    color: var(--black-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-normal-green-blue-14px {
    color: var(--green-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-black-13px-2 {
    color: var(--black-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-bold-black-13px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
  }
  .poppins-medium-black-18px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl3);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-dove-gray-16px {
    color: var(--dove-gray);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-black-14px-22 {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-black-13px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-black-30px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l2);
    font-weight: 600;
    font-style: normal;
  }
  .poppins-normal-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
  }
  .border-0-2px-dove-gray {
    border-width: 0.2px;
    border-style: solid;
    border-color: var(--dove-gray);
  }
  .poppins-medium-black-20px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l2);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semi-bold-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 600;
    font-style: normal;
  }
  .border-1px-mist-gray {
    border-width: 1px;
    border-style: solid;
    border-color: var(--mist-gray);
  }
  .poppins-medium-lima-55-4px {
    color: var(--lima);
    font-family: var(--font-family-poppins);
    font-size: 55.425235748291016px;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-black-18px-2 {
    color: var(--black-3);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl3);
    font-weight: 500;
    font-style: normal;
  }
  .poppins-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
  }
  .poppins-normal-eerie-black-12px {
    color: var(--eerie-black);
    font-family: var(--font-family-poppins);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium-black-14px2 {
    color: var(--black-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 500;
    font-style: normal;
  }
  .border-0-3px-dove-gray {
    border-width: 0.3px;
    border-style: solid;
    border-color: var(--dove-gray);
  }
  .poppins-normal-white-16px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
  }
  .border-0-5px-black {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--black);
  }
  .poppins-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
  }
  .border-0-2px-black {
    border-width: 0.2px;
    border-style: solid;
    border-color: var(--black);
  }
  .border-0-5px-botticelli {
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--botticelli);
  }
  .poppins-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s2);
    font-weight: 500;
    font-style: normal;
  }
  .border-1px-dove-gray-2 {
    border-width: 1px;
    border-style: solid;
    border-color: var(--dove-gray-2);
  }
  .poppins-normal-green-blue-16px {
    color: var(--green-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
  }

.resume-bank-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1144px;
  width: 1728px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.menu-bar {
  align-items: flex-start;
  background-color: 
#06264e;
  display: flex;
  flex-direction: column;
  height: 1144px;
  left: 0;
  padding: 24px 8px;
  position: fixed;
  top: 0;
  width: 266px;
  z-index: 3;
}

.menu {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: min-content;
  justify-content: center;
  margin-right: 5px;
  margin-top: 26px;
  width: 241px;
}

.menu-item {
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  height: 40px;
  justify-content: center;
  padding: 5px 10px;
}

.frame-68 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: min-content;
  justify-content: center;
  width: min-content;
}

.dashboard {
  height: 24px;
  min-width: 24px;
}

.dashboard-1 {
  flex: 1;
  letter-spacing: 0;
}

.test-library {
  flex: 1;
  letter-spacing: 0;
}

.test-library-icon {
  height: 24px;
  min-width: 24px;
}

.dashboard-2 {
  flex: 1;
  letter-spacing: 0;
}

.job {
  height: 24px;
  min-width: 24px;
}

.resume-bank {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  gap: 20px;
  height: 40px;
  justify-content: center;
  padding: 5px 10px;
}

.dashboard-4 {
  flex: 1;
  letter-spacing: 0;
}

.group {
  height: 24px;
  min-width: 24px;
}

.supervisor-account {
  height: 24px;
  min-width: 24px;
}

.dashboard-3 {
  flex: 1;
  letter-spacing: 0;
}

.jobs {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  height: 50px;
  justify-content: center;
  margin-top: 642px;
  padding: 10px;
  width: 249px;
}

.dashboard-5 {
  flex: 1;
  letter-spacing: 0;
}

.icons-primarysettings {
  height: 24px;
  min-width: 24px;
}

.icons-primarysettings-1 {
  align-items: center;
  display: flex;
  height: 24px;
  min-width: 24px;
  padding: 0 1px;
}

.icon-artwork {
  height: 22px;
  width: 22px;
}

.jobs-1 {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  height: 50px;
  justify-content: center;
  margin-top: 8px;
  padding: 10px;
  width: 249px;
}

.dashboard-6 {
  flex: 1;
  letter-spacing: 0;
}

.logout {
  height: 24px;
  min-width: 24px;
}

.group-1000004307 {
  align-self: center;
  height: 45px;
  margin-right: 13.21px;
  width: 183px;
}

.flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 744px;
  margin-right: 537px;
  margin-top: 26px;
  min-width: 555px;
  z-index: 2;
}

.no-search-results {
  color: 
#7e7e7e;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  margin-left: 54px;
  margin-top: 7px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame-162 {
  align-items: flex-start;
  background-color: 
#eff7fc;
  border: 0.2px solid 
#686b6f;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: min-content;
  padding: 20px 30px;
  width: min-content;
}

.filter {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 704px;
  width: min-content;
}

.filter-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 70px;
  width: 303px;
}

.input {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 4px 8px;
  width: 303px;
}

.pills {
  align-items: center;
  background-color: var(--botticelli);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  padding: 4px 8px;
  width: min-content;
}

.degree-4 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 48px;
}

.icon-artwork-1 {
  height: 8px;
  min-width: 8px;
}

.label-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.country {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 57px;
}

.job-title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: min-content;
  width: 303px;
}

.degree {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 41px;
}

.degree-3 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 42px;
}

.label-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.location {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 60px;
}

.job-title-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 70px;
  justify-content: center;
  width: 303px;
}

.input-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 4px 8px;
  width: 303px;
}

.group-1000004316 {
  height: 30px;
  min-width: 215px;
  position: relative;
}

.pills-2 {
  align-items: center;
  background-color: var(--botticelli);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  left: 0;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  width: min-content;
}

.degree-8 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 73px;
}

.pills-3 {
  align-items: center;
  background-color: var(--botticelli);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  left: 117px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  width: min-content;
}

.degree-9 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 64px;
}

.icons-chevrons-chevron-down {
  height: 18px;
  min-width: 24px;
  position: relative;
}

.icon-artwork-2 {
  height: 6px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.label-6 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.experience {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 77px;
}

.label {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.education {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 71px;
}

.degree-2 {
  letter-spacing: 0;
  min-width: 26px;
}

.degree-1 {
  letter-spacing: 0;
  min-width: 44px;
}

.label-5 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.skills-expertise {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 116px;
}

.pills-1 {
  align-items: center;
  background-color: var(--botticelli);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 30px;
  padding: 4px 8px;
  width: min-content;
}

.degree-7 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 55px;
}

.input-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 8px;
  width: 303px;
}

.female {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s2);
  font-weight: 400;
  letter-spacing: 0;
  min-width: 52px;
}

.label-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.gender {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 53px;
}

.degree-5 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 54px;
}

.degree-6 {
  letter-spacing: 0;
  margin-top: -0.5px;
  min-width: 44px;
}

.label-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.tools {
  letter-spacing: 0;
  margin-top: -1px;
  min-width: 37px;
}

.top-banner {
  align-items: center;
  align-self: flex-end;
  background-color: var(--white);
  border: 1px solid 
#686b6f1a;
  border-radius: 10px;
  display: flex;
  height: 60px;
  margin-right: 45px;
  margin-top: 24px;
  overflow: hidden;
  padding: 6px 30px;
  width: 1370px;
  z-index: 1;
}

.primary-buttonn {
  align-items: center;
  background-color: 
#1768ac;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 873px;
  padding: 8px 12px;
  width: min-content;
}

.icon-artwork-3 {
  height: 10px;
  min-width: 10px;
}

.frame-11 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: min-content;
  width: min-content;
}

.create {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  min-width: 29px;
  white-space: nowrap;
}

.dashboard-7 {
  align-self: flex-start;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl2);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 45px;
  min-width: 204px;
}

.icons-account-account-circle {
  align-items: flex-start;
  display: flex;
  margin-left: 40px;
  min-width: 40px;
}

.icons-account-account-circle-1 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  min-width: 40px;
  padding: 8.8px 8.4px;
}

.icons-alerts-bell {
  align-items: flex-start;
  background-color: 
#e3e3e3;
  border-radius: 100px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 40px;
  min-width: 40px;
  padding: 8.8px 9.9px;
}

.icon-artwork-4 {
  height: 22px;
  width: 20px;
}